@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
:root {
  --color-primary: hsl(227, 35%, 25%);
  --color-secondary: hsl(225, 20%, 60%);
}
// reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

html,
body {
  // height: 100%;
  min-height: 100vh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; // sirve desbordar textos largos
  // hyphens: auto; esto agrega giones al cortar una palabra
}
body {
  font-family: 'Manrope', sans-serif;
}
// estilos propios
body {
  background-image: url(public/bg-pattern.svg);
  background-repeat: no-repeat;
  background-color: hsl(230, 100%, 99%);
}
p,
li {
  color: var(--color-secondary);
  list-style: none;
}
.main {
  display: grid;
  place-content: center center;
  min-height: 100vh;
}
.section {
  display: grid;
  gap: 4em;
  > div:first-child {
    text-align: center;
    h1 {
      color: var(--color-primary);
      font-size: 2em;
      font-weight: 800;
    }
  }
  > div:last-child {
    background-color: #fff;
    border-radius: 0.5em;
    > div:first-child {
      padding: 2em;
      display: flex;
      flex-direction: column;
      gap: 2em;
      .header {
        display: flex;
        justify-content: space-between;
        gap: 7em;
        p {
          display: flex;
          align-items: center;
          gap: 0.5em;
        }
        > p:first-child {
          font-weight: 800;
          text-transform: uppercase;
          letter-spacing: 0.1em;
        }
        strong {
          color: var(--color-primary);
          font-size: 2.5em;
        }
      }
      input[type='range'] {
        width: 100%;
      }
      .body {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.8em;
        font-size: 0.8em;
        span {
          display: inline-block;
          color: hsl(15, 100%, 70%);
          background-color: hsl(14, 92%, 95%);
          padding: 0.2em 0.6em;
          border-radius: 100vh;
        }
      }
    }
    > div:last-child {
      border-top: 1px solid hsl(223, 50%, 87%);
      padding: 2em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        padding-left: 2em;
      }
      li {
        list-style-image: url(public/icon-check.svg);
        padding-left: 1em;
      }
      button {
        background-color: hsl(227, 35%, 25%);
        color: #fff;
        border: none;
        border-radius: 100vw;
        padding: 0.7em 1.9em;
        font-size: 0.9em;
        cursor: pointer;
      }
    }
  }
  .switch {
    position: relative;
    height: 1.5rem;
    width: 3rem;
    appearance: none;
    background-color: hsl(223, 50%, 87%);
    border-radius: 100vw;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    padding-left: 0.3em;

    &:checked {
      background-color: hsl(174, 86%, 45%);

      &::before {
        transform: translateX(137%);
      }
    }
    &::before {
      content: '';
      display: block;
      height: 1rem;
      width: 1rem;
      cursor: pointer;
      border-radius: 100vw;
      background-color: rgba(255, 255, 255, 1);
      transition: all 0.3s ease;
    }
  }
  .range {
    width: 100%;
    height: 0.5em;
    background-color: hsl(223, 50%, 87%);
    appearance: none;
    border-radius: 100vmax;
    cursor: pointer;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 1.9rem;
      width: 1.9rem;
      border-radius: 100vmax;
      background-color: hsl(174, 86%, 45%);
      background-image: url(public/icon-slider.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
    &:focus::-webkit-slider-thumb {
      box-shadow: 0 6px 30px hsl(174, 86%, 45%);
    }
    &::-moz-range-thumb {
      // appearance: none;
      border: none;
      height: 1.9rem;
      width: 1.9rem;
      background-color: hsl(174, 86%, 45%);
      background-image: url(public/icon-slider.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 100vmax;
    }
    &:focus::-moz-range-thumb {
      box-shadow: 0 6px 30px hsl(174, 86%, 45%);
    }
  }
}
